<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>nature_people</mat-icon>
            {{ (linea ? linea.denominacion:'')  + ' :Paradas'}} 
        </mat-card-title>
    </mat-card-header>
    
    <mat-divider></mat-divider>
    <div class="loading-indicator" *ngIf="waiting"> 
        <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </div>

    <mat-card-content>
        <div class="container">
            <div class="map-container">
                <div class="map-frame">
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        
        <div class="d-flex justify-content-end">
            <button mat-stroked-button color="primary" [routerLink]="['../../..']" class="button-border">
                Cerrar
            </button>
        </div>
    </mat-card-content>
    
</mat-card>

