<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>compare_arrows</mat-icon>
            Lineas
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="loading-indicator" *ngIf="waiting"> 
        <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
    </div>
    <mat-card-content>
        <table mat-table [dataSource]="lineasDS" class="mat-elevation-z10">
            
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef width="5%">Id</th>
                <td mat-cell *matCellDef="let linea">{{ linea.id }}</td>
            </ng-container>
            <ng-container matColumnDef="denominacion">
                <th mat-header-cell *matHeaderCellDef>Denominacion</th>
                <td mat-cell *matCellDef="let linea">{{ linea.denominacion }}</td>
            </ng-container>
            <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let linea">{{ linea.descripcion }}</td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef width="15%">Estado</th>
                <td mat-cell *matCellDef="let linea">{{ linea.estado }}</td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef width="20%">
                    <button mat-icon-button color="primary" [routerLink]="['new']" [disabled]="!isadmin"
                        matTooltip="nuevo" matTooltipPosition="right">
                        <mat-icon>add_box</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let lin">
                    <button mat-icon-button color="primary" [routerLink]="['edit', lin.id ]" [disabled]="!isadmin"
                        matTooltip="editar" matTooltipPosition="left">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="recorrido" matTooltipPosition="right" [routerLink]="['recorrido/view',lin.id]">
                        <mat-icon>timeline</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="paradas" matTooltipPosition="left" [routerLink]="['paradas/view', lin.id]">
                        <mat-icon>nature_people</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="historial" matTooltipPosition="right" [routerLink]="['recorridos', lin.id]">
                        <mat-icon>history</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['denominacion','descripcion','estado','acciones']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['denominacion','descripcion','estado','acciones']"></tr>
        </table>
    </mat-card-content>
</mat-card>
