<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div class="container">
    <!-- column -->
    <div class="row">
        <div class="col">
            <mat-card style="text-align: center;">
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pro-img">
                        <img src="assets/images/stcu/unidades.jpg" width="100" alt="user" class="img-circle">
                    </div>
                    <h3 class="m-b-0">Colectivos</h3>
                    <h6 class="m-t-0 ">Unidades</h6>
                    <mat-card-actions>
                        <button mat-stroked-button style="border: 1px solid" [routerLink]="['../colectivos']">Ver</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- column -->

        <!-- column -->
        <div class="col">

            <mat-card style="text-align: center;">
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pro-img">
                        <img src="assets/images/stcu/lineas2.jpg" width="100" alt="user" class="img-circle">
                    </div>
                    <h3 class="m-b-0">Lineas</h3>
                    <h6 class="m-t-0 ">Lineas</h6>
                    <mat-card-actions>
                        <button mat-stroked-button style="border: 1px solid;"  [routerLink]="['../lineas']">Ver</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>

        </div>
        <!-- column -->
    </div>
</div>

<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div class="container">
    <!-- Card column -->
    <div class="row">

        <div class="col">
            <mat-card style="text-align: center;">
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pro-img">
                        <img src="assets/images/stcu/carteles2.jpg" width="100" alt="user" class="img-circle">
                    </div>
                    <h3 class="m-b-0">Paradas</h3>
                    <h6 class="m-t-0 ">Paradas</h6>
                    <mat-card-actions>
                        <button mat-stroked-button style="border: 1px solid"  [routerLink]="['../paradas']">Ver</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>

        </div>
        <!-- Card column -->
        <!-- Card column -->
        <div class="col">

            <mat-card style="text-align: center;">
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pro-img">
                        <img src="assets/images/stcu/monitor.jpg" width="100" alt="user" class="img-circle">
                    </div>
                    <h3 class="m-b-0">Monitoreo</h3>
                    <h6 class="m-t-0 ">Seguimiento unidades</h6>
                    <mat-card-actions>
                        <button mat-stroked-button style="border: 1px solid;"  [routerLink]="['../monitoreo']">Ver</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <mat-card style="text-align: center;">
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div class="pro-img">
                        <img src="assets/images/stcu/monitor.jpg" width="100" alt="user" class="img-circle">
                    </div>
                    <h3 class="m-b-0">Mapa</h3>
                    <h6 class="m-t-0 ">Test maps</h6>
                    <mat-card-actions>
                        <button mat-stroked-button style="border: 1px solid;"  [routerLink]="['map']">Mapa</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>