<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>
                nature_people
            </mat-icon>
            &nbsp; {{ codigo ? ('Edicion Parada ' + (parada ? parada.codigo:'')) : 'Registro nueva Parada'}}
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="container">
            <div class="loading-indicator" *ngIf="spin">
                <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
            </div>
            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="legacy" style="width: 100%" floatLabel="always">
                        <mat-label>Codigo</mat-label>
                        <input matInput [value]="parada ? parada.codigo : ''" placeholder="automatico"
                            [readonly]="true" />
                    </mat-form-field>
                </div>
                <div class="col-9">
                    <mat-form-field appearance="legacy" style="width: 100%">
                        <mat-label>Direccion</mat-label>
                        <input matInput [formControl]="direccionIC" placenholder="calle y altura" autocomplete="off"
                            required />
                        <mat-error *ngIf="direccionIC.hasError('required')">requerido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-6">
                    <mat-form-field appearance="legacy" style="width: 100%;">
                        <mat-label>Descripcion</mat-label>
                        <input matInput [formControl]="descripcionIC" autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <span>Lat: {{ lat!=0 ? lat:'' }}</span>
                </div>
                <div class="col-3">
                    <span>Lng: {{ lng!=0 ? lng: '' }}</span>
                </div>
            </div>
            <div class="map-container">
                <div class="map-frame">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
        <div class="my-2 mx-4">
            <button mat-button [matMenuTriggerFor]="menu" color="primary" *ngIf="!codigo" class="button-border"
                [disabled]="direccionIC.hasError('required')">Guardar</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="guardarParada(false)">Guardar y registrar nueva</button>
                <button mat-menu-item (click)="guardarParada(true)">Guardar y salir</button>
            </mat-menu>
            <!-- <button mat-stroked-button color="primary" *ngIf="!codigo" class="button-border" (click)="guardarParada()"
                [disabled]="direccionIC.hasError('required')">
                Guardar
            </button> -->
            <button mat-stroked-button color="primary" *ngIf="codigo" class="button-border" (click)="actualizarParada()"
                [disabled]="direccionIC.hasError('required')">
                Actualizar
            </button>
            <button mat-stroked-button color="primary" [routerLink]="codigo ? ['../..']:['../']" class="button-border">
                Cancelar
            </button>
        </div>
    </mat-card-actions>
</mat-card>