<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>timeline</mat-icon>
            {{ linea ? linea.denominacion:'' }} {{ modeNew ? ' :Definir recorrido': ' :Editar recorrido'}}
        </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
    <div class="loading-indicator" *ngIf="waiting">
        <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </div>
    <mat-card-content>
        <div class="row">
            <div class="col-3 px-0">
                <div class="row px-2">
                    <div class="col-12">
                        <mat-form-field appearance="standard">
                            <mat-label>Denominacion</mat-label>
                            <input matInput [formControl]="denominacionIC" class="text-upper" required>
                            <mat-error *ngIf="denominacionIC.hasError('required')">requerido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="card px-0">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <mat-form-field appearance="legacy" style="width:85%">
                                    <mat-label>Paradas</mat-label>
                                    <mat-select [formControl]="paradaIC" placeholder="seleccione parada a agregar">
                                        <mat-option *ngFor="let parada of paradasDisponibles" [value]="parada">
                                            {{ parada.codigo + ':' + parada.direccion }}
                                        </mat-option>
                                    </mat-select>
                                    <i class="bi bi-geo-fill" matPrefix></i>
                                </mat-form-field>
                                <button mat-icon-button color="primary" matTooltip="agregar parada a recorrido"
                                    (click)="agregarParada()">
                                    <mat-icon>add_box</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <cdk-virtual-scroll-viewport itemSize="10" class="scroll-viewport" #scroller>
                            <mat-list dense>
                                <mat-list-item *ngFor="let parada of paradasRecorrido; let i=index">
                                    <mat-icon matListIcon>
                                        <i class="bi bi-geo-fill" style="color:blue;"></i>
                                    </mat-icon>
                                    <small>{{ parada.Parada.codigo + ':' + parada.Parada.direccion }}</small>
                                    <button mat-icon-button *ngIf="i == paradasRecorrido.length-1" class="ml-2"
                                        color="primary" (click)="quitarUltimaParada()" matTooltip="quitar parada">
                                        <i class="bi bi-x-square-fill"></i>
                                    </button>
                                    <mat-divider></mat-divider>
                                </mat-list-item>
                            </mat-list>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="map-container">
                    <div class="map-frame">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div class="d-flex justify-content-end">
            <button mat-stroked-button color="primary" (click)="guardarRecorrido()" class="button-border"
                *ngIf="modeNew" [disabled]="denominacionIC.hasError('required')">
                Guardar
            </button>
            <button mat-stroked-button color="primary" (click)="actualizarRecorrido()" class="button-border"
                *ngIf="!modeNew">
                Actualizar
            </button>
            <button mat-stroked-button color="primary" [routerLink]="['../../..']" class="button-border">
                Cerrar
            </button>
        </div>
    </mat-card-content>

</mat-card>