<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>supervisor_account</mat-icon>
            &nbsp;Usuarios
        </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>
    <div class="loading-indicator" *ngIf="waiting">
        <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </div>

    <mat-card-content>
        <div class="container">
            <span *ngIf="!isadmin">No tiene acceso a esta vista</span>
            <table mat-table [dataSource]="usuariosDS" class="mat-elevation-z10" *ngIf="isadmin">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef width="10%">Id</th>
                    <td mat-cell *matCellDef="let usr">
                        <span [ngStyle]="{'color': usr.estado=='NO_ACTIVO' ? 'gray':'black'}">
                            {{ usr.id }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="usuario">
                    <th mat-header-cell *matHeaderCellDef width="20%">Usuario</th>
                    <td mat-cell *matCellDef="let usr">
                        <span [ngStyle]="{'color': usr.estado=='NO_ACTIVO' ? 'gray':'black'}">
                            {{ usr.usuario }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef width="30%">Apellido y nombre</th>
                    <td mat-cell *matCellDef="let usr">
                        <span [ngStyle]="{'color': usr.estado=='NO_ACTIVO' ? 'gray':'black'}">
                            {{ usr.apellido && usr.nombre ? usr.apellido + ' ' + usr.nombre : '' }}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef width="20%">estado</th>
                    <td mat-cell *matCellDef="let usr">
                        <span [ngStyle]="{'color': usr.estado=='NO_ACTIVO' ? 'gray':'black'}">
                            {{ usr.estado.replace('_',' ') }}
                        </span>
                        <button mat-icon-button color="primary" matTooltip="desactivar" matTooltipPosition="after"
                            (click)="bajaUsuario(usr.id, usr.usuario)" *ngIf="usr.estado=='ACTIVO'">
                            <i class="bi bi-toggle-on"></i>
                        </button>
                        <button mat-icon-button color="primary" matTooltip="Activar" matTooltipPosition="after"
                            (click)="activarUsuario(usr.id, usr.usuario)" *ngIf="usr.estado=='NO_ACTIVO'">
                            <i class="bi bi-toggle-off"></i>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef width="20%">
                        <button mat-icon-button color="primary" [routerLink]="['new']" matTooltip="Nuevo usuario"
                            matTooltipPosition="right">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </th>
                    <td mat-cell *matCellDef="let usr">
                        <button mat-icon-button color="primary" [routerLink]="['view',usr.id]" matTooltip="ver"
                            matTooltipPosition="below">
                            <mat-icon>pageview</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" [routerLink]="['edit',usr.id]" matTooltip="editar"
                            matTooltipPosition="below">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['id','usuario','nombre','estado','acciones']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id','usuario','nombre','estado','acciones']"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>