<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>timeline</mat-icon>
            {{ (linea ? linea.denominacion:'') + ': Recorridos actuales ' }}
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="loading-indicator" *ngIf="waiting">
        <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
    </div>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col d-flex justify-content-start">
                    <span *ngIf="!recorridos || recorridos.length ==0">No se definieron recorridos para esta
                        linea</span>
                </div>
                <div class="col d-flex justify-content-end">
                    <button mat-stroked-button color="primary" class="button-border" (click)="close()"
                        [routerLink]="['../../new',linea?.id]">
                        <mat-icon>add_box</mat-icon>
                        Nuevo
                    </button> &nbsp;
                    <button mat-stroked-button color="primary" class="button-border">
                        <mat-icon>history</mat-icon>
                        Historial
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="map-container">
                    <div class="map-frame">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
        <div class="mx-4 my-2">
            <button mat-stroked-button color="primary" [routerLink]="['../../..']" class="button-border">
                Cerrar
            </button>
        </div>
    </mat-card-actions>
</mat-card>