<mat-card>
    <mat-card-header>
        <mat-card-title>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-center">
                    <mat-icon>not_interested</mat-icon>
                    <span style="font-size: x-large;">
                        No disponible
                    </span>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <span style="font-size: x-large;">
                        No tiene acceso a esta vista
                    </span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" style="width:50%"
                    [routerLink]="['../../dashboard']">
                        Principal
                    </button>
                </div>
            </div>
            <!-- <div class="row mt-4">
                <div class="d-flex justify-content-center">
                    <button mat-raised-button color="primary" style="width:50%"
                    (click)="volver()">
                        Volver
                    </button>
                </div>
            </div> -->
        </div>
    </mat-card-content>
</mat-card>