<mat-card class="p-0 m-0">
    <mat-card-header class="p-0">
        <mat-card-title>
            <mat-icon><i class="bi bi-qr-code"></i></mat-icon>
            Codigo QR
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="p-0">
        <div class="loading-indicator" *ngIf="waiting">
            <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
        </div>
        <div class="row border">
            <div class="col-12">
                <span>{{ linea?.denominacion + ' - ' + recorrido?.denominacion }}</span>
            </div>
            <div class="col-12">
                <span>{{ 'Parada ' + parada?.codigo + ': ' + parada?.direccion }}</span>
            </div>
        </div>
        <div class="row border p-0 align-items-center">
            <div class="qrcodeImage d-flex align-items-center justify-content-center p-0 m-0">
                <qrcode [qrdata]="qrdata" [allowEmptyString]="true" #parent
                    [ariaLabel]="'QR Code image with the following content...'" 
                    [imageSrc]="iconImg"
                    [cssClass]="'center'"
                    [colorDark]="'#000000ff'" 
                    [colorLight]="'#ffffffff'" 
                    [elementType]="'canvas'"
                    [errorCorrectionLevel]="'M'" 
                    [margin]="4" [scale]="1" 
                    [title]="'A custom title attribute'"
                    [width]="400"></qrcode>
            </div>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
        <button mat-stroked-button color="primary" (click)="saveAsImage(parent)" class="button-border">
            Descargar
        </button>
        <button mat-stroked-button color="primary" (click)="cerrar()" class="button-border">
            Cerrar
        </button>
    </mat-card-actions>
</mat-card>