<mat-card>
    <mat-card-header>
        <mat-card-title>
            <mat-icon>
                nature_people
            </mat-icon>
            &nbsp; Paradas
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="loading-indicator" *ngIf="spin">
        <mat-spinner mode="indeterminate" diameter="50"></mat-spinner>
    </div>
    <mat-card-content>
        <table mat-table [dataSource]="paradasDS" class="mat-elevation-z10">

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef width="10%">Codigo</th>
                <td mat-cell *matCellDef="let parada">{{ parada.codigo }}</td>
            </ng-container>
            <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef width="50%">Direccion</th>
                <td mat-cell *matCellDef="let parada">{{ parada.direccion }}</td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef width="20%">Estado</th>
                <td mat-cell *matCellDef="let parada">{{ parada.estado }}</td>
            </ng-container>
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef width="20%">
                    <button mat-icon-button color="primary" [routerLink]="['new']" [disabled]="!isadmin">
                        <mat-icon>add_box</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let parada">
                    <button mat-icon-button color="primary" [routerLink]="['view',parada.codigo ]" 
                        matTooltip="ver" matTooltipPosition="left">
                        <mat-icon>pageview</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" [routerLink]="['edit', parada.codigo]" [disabled]="!isadmin"
                        matTooltip="editar" matTooltipPosition="right">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="baja" [disabled]="!isadmin"
                        matTooltip="baja" matTooltipPosition="right">
                        <mat-icon>highlight_off</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['codigo','direccion','estado','acciones']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['codigo','direccion','estado','acciones']"></tr>

        </table>
    </mat-card-content>
</mat-card>
